@font-face {
    font-family: Roboto;
<<<<<<< HEAD
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
=======
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
>>>>>>> main
}

@font-face {
    font-family: Roboto-Bold;
<<<<<<< HEAD
    src: url('../../fonts/Roboto/Roboto-Bold.ttf');
=======
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
>>>>>>> main
}