.mail-layout {
  display: flex;
  min-height: 80vh;
}

.mail-layout aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #f7fafd;
  padding: 16px;
}

.mail-layout aside>*:nth-child(n + 2) {
  padding: 14px;
}

.mail-layout aside>*:nth-child(1) {
  padding-bottom: 20px;
}

.mail-layout aside>*:nth-child(n + 2):hover {
  background-color: #eaedf0;
  border-radius: 0 50px 50px 0;
}

main {
  flex: 1;
  padding: 1rem;
}

.compose-btn {
  background-color: #c1e7fe;
  padding: 1.2em;
  font-size: 16px;
  font-family: Roboto;
  border: none;
  border-radius: 16px;
  transition: 0.1s;

  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

}

.compose-btn:hover {
  filter: drop-shadow(0 2px 0.2rem rgb(170, 170, 170));
  background-color: #c1e7fe;
  cursor: pointer;
}

.compose-btn img {
  width: 20px;
}

.mail-index {
  background-color: #f7fafd;
  border-radius: 16px;

}

.gmail-icon {
  width: 30px;
}

.mail-header {
  display: flex;
  align-items: center;
  padding: 1em 0 0 1em;
  gap: 0.5em;
  font-size: 20px;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.search-bar img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.input-field {
  padding: 1em;
  padding-left: 35px;
  height: 20px;
  width: 30vw;
  border: none;
  border-radius: 256px;
  background-color: #e9eef6;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  background-color: #fff;
  filter: drop-shadow(0 2px 0.2rem rgb(170, 170, 170));
}

.mail-layout aside .active {
  background-color: #D3E2FD;
  font-family: Roboto-Bold;
  border-radius: 0 50px 50px 0;
}