.mail-layout {
  display: flex;
  min-height: 80vh;
}

aside {
  width: 250px;
  padding: 1rem;
  background-color: #f7fafd;
}

main {
  flex: 1;
  padding: 1rem;
}

.compose-btn {
  background-color: #c1e7fe;
  padding: 1.2em;
  font-size: 16px;
  font-family: Roboto;
  border: none;
  border-radius: 16px;
  transition: 0.2s;

  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

}

.compose-btn:hover {
  filter: drop-shadow(0 1px 0.1rem rgb(176, 176, 176));
  cursor: pointer;
}

.compose-btn img {
  width: 20px;
}