ul {
    list-style-type: none;
    padding: 0;
}

.mail-list li {
    background-color: var(--unread-mail-bg);
    text-align: center;
    border-bottom: solid 2px #edeff1;
    font-family: Roboto;
    font-size: 16px;
    align-items: center;
}

ul .is-read {
    background-color: var(--read-mail-bg);
}

.mail-list-container {
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;
    height: 71vh;
    overflow-y: scroll;
}

.mail-list li:hover {
    filter: drop-shadow(0 0 0.1rem rgb(167, 167, 167));
    cursor: pointer;
}

.mail-list li>*:hover {
    display: flex;
}