ul {
    list-style-type: none;
}

.mail-list li {
    background-color: var(--unread-mail-bg);
    text-align: center;
    padding: 10px;
    border-bottom: solid 2px #edeff1;
    font-family: Roboto;
    font-size: 16px;
    transition: 0.2s;    
}

ul .is-read {
    background-color: var(--read-mail-bg);
}

.mail-list-container {
    border-radius: 16px;
}

.mail-list li:hover {
    filter: drop-shadow(0 0 0.7rem rgb(220, 220, 220));
    cursor: pointer;
}