.note-tools {
  position: absolute;
  bottom: 2px;
  font-size: inherit;
  margin: 8px 0;
  opacity: 0;
  
}

.note-list > li:hover .note-tools {
  opacity: 1;
  cursor: pointer;
}

.note-tools img {
  width: 32px; 
  margin-inline:5px ;
}
.palette > img {
  position: absolute;
}

.palette {
  position: relative;
}

.palette > input {
  opacity: 0;
  width: 27px;
}
