.note-header {
  padding: 0.5714em;
  line-height: 1.9285em;
  background-color: white;
  /* position: fixed; */
  box-shadow:rgb(218, 220, 224) 0px -1px 0px 0px inset;
  display: flex;
  align-items: center;
}

.note-header img {
  width: 15vw;
}

.note-header input {
  height: 35px;
  width: 25vw;
}