.note-header {
  padding: 0.5714em;
  line-height: 1.9285em;
  background-color: white;
  /* position: fixed; */
  box-shadow:rgb(218, 220, 224) 0px -1px 0px 0px inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-header img {
  width: 15vw;
}

.note-header input {
  outline: none;
  border: none;
  width: 25vw;
  padding-left: 10px;
  height: 48px;
  border-radius: 8px;
  margin-inline-start: 300px;
  background: var(--search-bg-);
}
