.note-preview{
    padding:12px 16px; 
    min-height: 6.66666em;
    border:1px solid var(--border-note);
    border-radius:0.57142em;
    font-size: 1.071428em;
}

.note-preview h1{
    font-size:1.33333em ;
}