.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background: white;
    filter: drop-shadow(0 1px 0.3rem rgb(228, 228, 228));
    font-family: Roboto-Bold;
    position: sticky;
    top: 0;
    z-index: 10;
    color: rgb(91, 91, 91);
}

.app-header nav {
    display: flex;
    gap: 16px;
}


nav a {
    margin: .5em;
    font-family: Roboto;
    color: rgb(91, 91, 91);
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    font-family: Roboto-Bold;
}

nav a:hover {
    text-decoration: underline 1px;
}

.header-title {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 8px;
}

.header-title img {
    width: 20px;
}